<footer>
  <div id="footer">
    <div id="footer-logo">
      <img src="../assets/logo/linkedin_profile_image.png" alt="" />
    </div>
    <div id="footer-text-menu">
      <ul>
        <li>
          <a href="">Accueil</a>
        </li>
        <li>
          <a href="">Qui sommes-nous ?</a>
        </li>
        <li>
          <a href="" routerLink="hotels-list">Réservez</a>
        </li>
      </ul>
    </div>
    <div class="alert">
      Ceci n'est pas un site de vente, mais uniquement un entrainement.
    </div>
  </div>
</footer>
