<section id="container-landingpage">
  <div id="title">
    <h2>Hôtels pour un moment en émotions !</h2>
    <h3>Riche</h3>
    <p>Recherchez et trouvez le meilleur prix</p>
    <a href="" class="rapid-go" routerLink="hotels-list">Réservez</a>
  </div>

  <div id="image">
    <div class="trait one"></div>
    <div class="trait two"></div>
    <div class="trait three light"></div>
    <div class="trait four light"></div>
    <div class="trait five"></div>
    <div class="trait six light"></div>
    <div class="trait seven"></div>
    <div class="trait eight light"></div>
    <img src="../../../assets/hotel/t-hotel.webp" alt="Hotel" />
  </div>
</section>

<div id="container-mid">
  <app-landing-page-mid></app-landing-page-mid>
</div>

<app-footer></app-footer>
