<header>
  <nav>
    <div id="logo" class="logo">
      <img src="../assets/logo/logo.png" alt="Logo Save Your Hotel" />
      <span>Save</span>
      <span>Your</span>
      <span>Hotel</span>
    </div>
    <ul>
      <li>
        <a href="">Accueil</a>
      </li>
      <li>
        <a href="" routerLink="about-us">Qui sommes-nous ?</a>
      </li>
      <li>
        <a href="" class="rapid-go" routerLink="hotels-list">Réservez</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
